[submodule "lib/kit"]
	path = lib/kit
	url = ../frontendkit.git
[submodule "lib/cordskit"]
	path = lib/cordskit
	url = ../CordsFrontendKit.git
[submodule "docker"]
	path = docker
	url = ../cords-node-docker-image.git
