:root {
  --q-primary: #0055ff;
  --text-base-font-family: "Inter Variable Cords";
  --md-button-padding: 16px;
  --hairline-color: hsl( 220 32% 93% );
  --link-color: var(--q-primary);
  --link-color-rgb: 0 85 255;
  --silver-color-rgb: 217 217 214;
}

body, html {
  height: 100%;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F7F9FC;
}

.content {
  flex-grow: 1;
}

